.table-wrap {
  border: 1px solid var(--border-color);
  border-radius: 6px;
  overflow: hidden;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1rem;
  color: var(--table-text-color);
}

.header__cell, 
.cell {
  padding: 12px 15px;
  text-align: left;
}

.row__header {
  font-weight: 700;  
  padding: 15px;
}

.row:nth-child(odd) {
  background-color: var(--table-main-color);
}

.row:nth-child(even),
.row__header {
  background-color: var(--table-second-color);
}

.cell__username {
  font-weight: 600;
}

.row:hover,
.row:active {
  background-color: var(--table-additional-color);
  cursor: pointer;
}

.table .row_active {
  background-color: var(--table-additional-color);
}

.header-cell__ID {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;

  &:hover {
    cursor: pointer;
  }
}

.header-cell__sort-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}