:root {
  --main-color: #FFF7ED;
  --second-color: #FFFFFF;
  --additional-color: #FF8C38;
  --font-color: #161616;
  --font-color-light: #4D4D4D;
}

body {
  background-color: var(--main-color);
}

.wrap {
  max-width: 1200px;
  margin: 0 auto;
}